modules = ["web", "nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"
deps = ["pkgs.nodejs_20", "pkgs.python3"]

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 44247025
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
run = ["sh", "-c", "npm run dev"]
